<div class="container-fluid" style="display: inline">
  <div class="row"><h1></h1></div>
  <div class="row" style="display: inline">
    <h3 class="all-page-header">Pour soumettre un projet ou tout autre chose</h3>
  </div>
</div>
<div class="container">
  <div class="col-md-5">
    <form [formGroup]="myContactForm" novalidate (ngSubmit)="save(myContactForm.value, myContactForm.valid)">
      <br style="clear:both">
      <h3 style="margin-bottom: 25px; text-align: center;">Nous contacter</h3>

      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input type="text"
               id="name"
               placeholder="Nom"
               formControlName="name" class="form-control">
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="email"
               id="email"
               placeholder="Email"
               formControlName="email" class="form-control">
      </div>

      <div class="md-form">
        <i class="fa prefix"></i>
        <input type="text"
               id="subject"
               placeholder="Sujet" formControlName="subject" class="form-control">
      </div>

      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <label for="message"></label>
        <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"
                  formControlName="message" class="form-control md-textarea"></textarea>
        <!-- span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span -->
      </div>
      <!--- Buttons Block --->
      <div class="form-group">
        <button #submit type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </form>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
      <p>{{successMessage}}</p>
    </div>
    <div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="container text-center text-md-left">
  <div class="row">
    <!--First column-->
    <div class="col-md-4">
      <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Watt 4 All</h5>
      <p>Maison des associations de Lille</p>
      <p>74 rue Royale</p>
      <p>59000 Lille</p>
      <p>France</p>
    </div>
    <!--/.First column-->
    <hr class="clearfix w-100 d-md-none">

    <!--Second column-->
    <div class="col-md-2 mx-auto">
      <h5 class="text-uppercase mb-4 mt-3 font-weight-bold"></h5>
    </div>
    <!--/.Second column-->
    <hr class="clearfix w-100 d-md-none">

    <!--Third column-->
    <div class="col-md-2 mx-auto">
      <h5 class="text-uppercase mb-4 mt-3 font-weight-bold"></h5>
    </div>
    <!--/.Third column-->
    <hr class="clearfix w-100 d-md-none">

    <!--Fourth column-->
    <div class="col-md-2 mx-auto">
      <h5 class="text-uppercase mb-4 mt-3 font-weight-bold "></h5>
    </div>
    <!--/.Fourth column-->
  </div>
</div>
<app-footer></app-footer>
