<div class="container-fluid" style="display: inline">
  <div class="row"><h1></h1></div>
  <div class="row" style="display: inline">
    <h3 class="all-page-header">Des bénévoles pour échanger entre le Nord et le Sud</h3>
  </div>
</div>

<section class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11">
      <h5 style="border-left: 5px solid #FFA200; text-transform: uppercase">&nbsp;1 kWh Nord = 1 kWh Sud</h5>
      <p>
        Quand les pays du « Nord » tendent vers des politiques visant le renforcement de l’efficacité énergétique et la
        mise en œuvre de mesures ayant pour objectif la sécurité énergétique et la rationalisation des consommations,
        les pays du « Sud » font face aux problématiques primaires d’accès à des sources d’électricité modernes, fiables
        et abordables. Des projets d’électrification, de plus en plus tournés vers l’exploitation intelligente des
        énergies renouvelables, se créent et se développent, surtout dans les zones reculées et difficiles d’accès. Bien
        que ces projets participent à l’augmentation significative du nombre de personnes ayant accès à l’électricité
        dans les pays en développement, les développeurs de projets rencontrent néanmoins toujours des difficultés en
        lien avec la réalisation même de ces projets, notamment sur en lien avec les aspects de financement, de
        renforcement de capacité et de pérennisation des activités.
        Quand dans le « Sud » les problématiques d’accès à l’électricité subsistent, dans le « Nord », les
        problématiques énergétiques s’apparentent à la gestion de l’énergie et à l’anticipation des besoins croissants
        futurs, à la rationalisation des usages et à la réduction des émissions de gaz à effet de serre ou GES (le
        secteur industriel et les pays développés représentent aujourd’hui l’un des vecteurs majeurs des émissions de
        GES).
        Aucun scenario idéal n’a été élaboré pour permettre la réduction des émissions de GES et la rationalisation de
        l’exploitation des ressources naturelles en prévision de la satisfaction des besoins croissants en énergie de la
        population (environ 9,5 milliards d’habitant sur la planète à l’horizon 2050). Il est probable que des solutions
        combinées et complémentaires voient le jour et s’implémentent en vue de répondre à ces problématiques.
        L’un des axes à considérer consiste à replacer le consommateur au cœur de la problématique et d’en faire un
        acteur du changement et de sa propre consommation. En agissant ainsi, la rationalisation des usages prend une
        forme multi active à tous les niveaux et ouvre le champ des possibles. En sus d’adresser la problématique de
        consommation, la rationalisation des usages vient adresser une problématique de coût et de dépenses à l’égard
        des usagers.
      </p>
      <h5 style="border-left: 5px solid #FFA200; text-transform: uppercase">&nbsp;Vision</h5>
      <p>Les problématiques énoncées sont au cœur de la réflexion de l’association qui souhaite orienter ses efforts sur
        l’inclusion des différentes problématiques entre elles et sur la création de leviers bidirectionnels en faveur
        de la rationalisation des usages, le développement de projets d’accès à une électricité moderne, fiable et
        abordable, la pérennisation des activités de production, fourniture et distribution de l’électricité et la
        création d’un canal d’économie solidaire entre le « Nord » et le « Sud ».
      </p>
      <h5 style="border-left: 5px solid #FFA200; text-transform: uppercase">&nbsp;Missions</h5>
      <h6><strong>Etablir un modèle d’économie solidaire « Nord – Sud » et de financement par compensation</strong></h6>
      <p>Dans cette optique, l’association vise à conscientiser les citoyens occidentaux sur les opportunités, à
        l’échelle individuelle, de réaliser des économies d’énergie agissant sur les émissions de GES, l’utilisation des
        ressources en énergie et leurs portefeuille. Notamment, les économies réalisées à l’échelle individuelle peuvent
        alors être redirigées – en tout ou partie – vers le développement de projets d’accès à l’électricité dans les
        pays les moins développés par le biais de l’association. L’association se propose de développer des outils et de
        mettre ses savoir-faire au service des consommateurs des pays du « Nord » pour leur permettre de réaliser des
        économies, et d’agir en tant que plateforme de soutien pour les projets d’électrification dans les pays du
        « Sud » par le biais d’un fond de financement alimenté par les reversements de tout ou partie des économies
        réalisées dans le « Nord ». Dans ce sens, l’association se veut intégrateur de problématiques énergétiques et
        vecteur de compensation intelligente en vue de bénéficier aussi bien aux consommateurs du « Nord », qu’à ceux du
        « Sud ».
      <h6><strong>Sensibiliser, conscientiser et promouvoir l’accès a l’information tant dans les pays du Nord que dans
        les pays
        du Sud </strong></h6>
      <p>Les pays du Sud accusent d’une lacune évidente dans l’accès à l’information relative au secteur de
        l’énergie, au secteur des énergies renouvelables et au sous-secteur électricité. Peu de consommateurs sont
        conscients de l’intérêt économique, social et environnemental de l’accès à source d’électricité moderne et
        durable. En effet, souvent contraintes par des modes de vie traditionnels, les communautés locales des pays du
        « Sud » ne voient en l’électricité qu’une source alternative d’éclairage moderne. La sensibilisation, la
        démocratisation de l’accès à l’information et le renforcement des capacités sont des missions essentielles que
        se propose d’adresser l’association. Ces missions ont pour objectifs de i) permettre d’augmenter le sentiment
        d’acceptabilité des solutions énergétiques modernes et d’accroitre leur intégration au sein des communautés
        bénéficiaires et ii) de permettre une utilisation durable et rationnelle de l’électricité et des installations
        en vue de renforcer la viabilité des projets et leur jouissance par les usagers. En d’autres termes,
        l’association se veut vecteur de la transition vers les énergies renouvelables et la conscientisation des
        communautés sur les avantages socio-économiques d’une telle transition afin de participer à satisfaire de
        manière durable les besoins énergétiques des pays en voie de développement, mais également de contribuer à
        l’amélioration des conditions de vie des populations en zones reculées. Dans les pays du « Nord », la notion de
        conscientisation sur l’usage des énergies renouvelables est une notion plus régulièrement admise et partagée :
        les citoyens reconnaissent la raréfaction des ressources pétrolières et leur impact sur l’environnement et
        l’économie et par conséquent la nécessité d’opérer une transition énergétique, d’ailleurs déjà actuellement
        amorcée. Cependant, la réduction de la consommation ne suit pas cette tendance rationnelle. Même si certains
        usagers entreprennent de réfléchir à leur consommation et d’opter pour des gestes, des process ou des matériaux
        plus rationnels et moins gourmands en énergie, la majorité des usagers, elle, n’a pas conscience des effets de
        la consommation énergétique sur l’environnement et l’économie. En d’autres termes, il est indispensable de
        considérer également dans cette approche les consommateurs du « Nord » et leur potentiel d’action dans le
        changement afin de i) orienter les usages vers une consommation intelligente et plus adaptée, ii) renforcer la
        transition énergétique (qui passe à la fois par l’introduction des énergies renouvelables et leur utilisation)
        et iii) renforcer la sécurité énergétique et préparer les consommateurs à faire face à une demande croissante et
        une offre limitée.
      </p>
      <h6><strong>Transférer les connaissances et les expériences </strong></h6>
      <p>Les porteurs de projets d’électrification, notamment en milieu rural et isolé dans les pays du « Sud »,
        disposent de connaissances et d’expériences à haute valeur ajoutée. Cependant, si ces connaissances et ces
        expériences ont souvent été acquises sur le terrain, elles sont également le fruit d’un mix avec connaissances
        et des compétences acquises par des formations et des enseignements dispensés dans les pays du « Nord ». Les
        pays du « Sud » accusent un manque significatif de dispositifs de formation et d’enseignement en matière
        d’énergies renouvelables ou d’efficacité énergétique. Les ressources humaines disposant de cette compétences
        sont souvent originaires des pays du « Nord ». Un tel constat permet d’identifier l’une des causes de la faible
        durée de vie des projets d’électrification rurale entrepris et la faible intégration des projets dans leur
        environnement socio-économique. L’association croit en la création d’un pont « Nord – Sud » et le transfert
        intelligent et pérenne des connaissances, des compétences et des savoir-faire entre les deux régions. Ce
        transfert apparait comme l’une des voies évidentes au renforcement de l’indépendance énergétique et économique
        des pays en voie de développement et sa création permettrait d’accompagner les pays du « Sud » dans leur
        intégration dans la chaine de valeur énergétique au niveau mondial.
      </p>
      <h6><strong>Acquérir les moyens nécessaires et adapter pour réaliser les objectifs fixés </strong></h6>
      <p>L’association se veut réaliste et reconnait la limite de ses ambitions et de ses valeurs. L’association se
        fixe, comme objectif transversal, l’acquisition des moyens nécessaires et adaptés à l’atteinte de ses objectifs,
        notamment par le biais du levier financier et l’acquisition de matériels, équipements, savoir-faire et tout
        autre moyen. L’association se fixe également comme objectif transversal la création ou le renforcement d’un
        réseau d’acteurs (investisseurs, parties prenantes financières, fournisseurs de technologies, fournisseurs de
        solutions socio-économiques, chercheurs, étudiants, consommateurs et société civile, secteur public et
        institutionnel, etc.) afin de permettre au connexions de se réaliser ou de se concrétiser entre le « Nord » et
        le « Sud » et de manière horizontale entre ces deux régions également. Cette mission accentue le potentiel
        incorporel de l’association et sa vocation à pérennisation ses actions.</p>
      <h5 style="border-left: 5px solid #FFA200; text-transform: uppercase">&nbsp;Notre équipe</h5>
      <div class="row">
        <div class="col-md-5">
          <div class="card testimonial-card">
            <div class="avatar" style="vertical-align: middle;width: 100%;background-color: gainsboro" align="center">
              <img src="assets/images/avatar/js.jpg" class="rounded-circle" height="180px"
                   style="display: block;border: 1px solid #000;">
            </div>
            <div class="card-body">
              <h4 class="card-title">Jean-Sébastien Scrève</h4>
              <hr>
              <p><i class="fa fa-quote-left"></i> Mon expérience en électrification rurale à Madagascar m'a donné
                l'envie d'aller plus loin.</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card testimonial-card">
            <div class="avatar" style="vertical-align: middle;width: 100%;background-color: gainsboro" align="center">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
                   height="180px" style="display: block;border: 1px solid #000;">
            </div>
            <div class="card-body">
              <h4 class="card-title">Nicolas Livache</h4>
              <hr>
              <p><i class="fa fa-quote-left"></i>La vie est une fête.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
