<div class="container-fluid" style="display: inline">
  <div class="row"><h1></h1></div>
  <div class="row" style="display: inline">
    <h3 class="all-page-header">Régler votre adhésion</h3>
  </div>
</div>
<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card card-cascade narrower">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" class="form-horizontal">
          <fieldset>
            <h3 class="card-header primary-color white-text">Adhésion</h3>
            <div class="card-body">
              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="email"
                       id="email"
                       placeholder="" formControlName="email">
                <div
                  *ngIf="(myForm.controls['email'].touched || submitted) && myForm.controls['email'].errors?.email">
                  <div class="alert alert-danger">Email invalide</div>
                </div>
              </div>

              <div class="md-form">
                <i class="fa fa-money prefix"></i>
                <input type="number"
                       id="amount"
                       placeholder="Montant (Eur)" formControlName="amount" value="">
                <div
                  *ngIf="(myForm.controls['amount'].touched || submitted) && myForm.controls['amount'].errors?.required">
                  <div class="alert alert-danger">Le champ ne peut être vide</div>
                </div>
              </div>
              <!--- Buttons Block --->
              <div class="md-form" style="text-align: center">
                <button type="submit" class="btn btn-primary">Soumettre</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
          <p>{{successMessage}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card card-cascade narrower">
        <img src="assets/images/eolienne.jpg" class="img-fluid">
      </div>
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Aide fiscale de l'état français</h4>
        <!--Text-->
        <p class="card-text">Si vous pensez pouvoir leur donner un petit coup de pouce faites un don à notre
          association.</p>
        <p class="card-text">Reconnue d'intérêt général, <b>66% de votre don est directement déductible des impôts.</b>
        </p>
        <p class="card-text">Nous vous adressons un reçu fiscal en fin d'année.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
