<section>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark primary-color" [containerInside]="false">
    <logo>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/logo.png" alt="logo" style="width:60px;">
      </a>
    </logo>
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Qui sommes-nous ?<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a pageScroll class="dropdown-item waves-light" mdbWavesEffect href="#asso" routerLink="/home">Notre
              association</a>
            <a pageScroll class="dropdown-item waves-light" mdbWavesEffect href="#projects" routerLink="/home">Nos
              projets</a>
            <a pageScroll class="dropdown-item waves-light" mdbWavesEffect href="#partners" routerLink="/home">Nos
              partenaires</a>
            <a pageScroll pageScrollDuration="0" class="dropdown-item waves-light" mdbWavesEffect href="#top"
               routerLink="/aboutus">Notre projet en détail</a>
            <a pageScroll pageScrollDuration="0" class="dropdown-item waves-light" mdbWavesEffect href="#top"
               routerLink="/activities">Notre blog</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/home-energy-use">Votre consommation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light disabled" routerLink="/money">Dons / adhésion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light disabled" routerLink="/member">Adhérents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/login">Connexion</a>
        </li>
        <li class="nav-item" *ngIf="{isLoggedUser: isLoggedUser$ | async, loggedUser: loggedUser$ | async} as values">
          <a class="nav-link waves-effect waves-light" routerLink="/admin" *ngIf="values.loggedUser === 'admin'">Menu
            administration</a>
        </li>
        <li class="nav-item dropdown" dropdown
            *ngIf="{isLoggedUser: isLoggedUser$ | async, loggedUser: loggedUser$ | async} as values">
          <a dropdownToggle mdbWavesEffect type="" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="caret"></span><i class="fa fa-user"></i></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item disabled" mdbWavesEffect>{{values.loggedUser}}</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Déconnexion</a>
          </div>

        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://wattforall.wordpress.com"><i
            class="fa fa-wordpress"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light disabled"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light disabled"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</section>
<section style="background: none; position: relative; z-index: 0;">
</section>

<section>
  <router-outlet></router-outlet>
</section>


