<section>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark info-color" [containerInside]="false">
    <logo>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/logo.png" alt="logo" style="width:80px;">
      </a>
    </logo>
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/activities">Notre activité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/energy-use">Votre consommation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/money">Dons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/contacts">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-stack-overflow"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</section>
<section style="background: none; position: relative; z-index: 0;">
</section>

<section>
  <router-outlet></router-outlet>
</section>

