<section>
  <p></p>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-cascade narrower">
        <h3 class="card-header primary-color white-text">Adhérents</h3>
        <!--- Buttons Block --->
        <div class="form-group" style="text-align: center">
          <button type="button" class="btn btn-primary" (click)="getMembers()">Afficher les membres</button>
        </div>
        <div class="form-group card-body">
          <table class="table table-responsive" style="height: 300px;overflow-y: auto;">
            <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénoms</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Cotisation réglées</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members;index as i">
              <th scope="row">{{i}}</th>
              <td>{{member.user.last_name}}</td>
              <td>{{member.user.names}}</td>
              <td>{{member.user.email}}</td>
              <td>{{member.user.phone}}</td>
              <td>{{member.memberPayments}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-cascade narrower">
        <h3 class="card-header primary-color white-text">Transactions</h3>
        <div class="form-group" style="text-align: center">
          <button type="button" class="btn btn-primary" (click)="getTransactions()">Afficher les transactions</button>
        </div>
        <div class="form-group card-body">
          <table class="table table-responsive" style="height: 300px;overflow-y: auto;">
            <thead>
            <tr>
              <th>#</th>
              <th>Montant</th>
              <th>Nom</th>
              <th>Prénoms</th>
              <th>Email</th>
              <th>Date</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions;index as i">
              <th scope="row">{{i}}</th>
              <td>{{transaction.amount/100}}</td>
              <td>{{transaction.user.last_name}}</td>
              <td>{{transaction.user.names}}</td>
              <td>{{transaction.user.email}}</td>
              <td>{{transaction.paymentDate}}</td>
              <td>{{transaction.transactionType}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-cascade narrower">
        <h3 class="card-header primary-color white-text">Générer les reçus fiscaux</h3>
        <div class="form-group card-body">
          <div class="md-form">
            <i class="fa fa-money prefix"></i>
            <input type="number" id="year" placeholder="Année" name="year" required
                   [(ngModel)]="receiptYear">
          </div>
        </div>
        <!--- Buttons Block --->
        <div class="form-group" style="text-align: center">
          <button type="button" class="btn btn-primary" (click)="generateReceipt()">Générer reçus</button>
        </div>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
