<div class="card">

  <!--Card image-->
  <div *ngFor="let item of feedEntry.img" class="view overlay">
    <img src="{{item}}"
         class="img-fluid" alt="">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card videos-->
  <div *ngFor="let item of feedEntry.vids" class="view overlay">
    <p [innerHTML]="item | safe: 'html'"></p>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{feedEntry.title}}</h4>
    <h4 class="card-subtitle">{{feedEntry.author}} - {{feedEntry.date | date:'dd-MM-yyyy'}}</h4>
    <!--Text-->
    <p [innerHTML]="feedEntry.description" class="card-text"></p>
  </div>

</div>
