<div class="card">

  <!--Card image-->
  <div class="view overlay">
    <img *ngIf="feedEntry.enclosure.link.indexOf('gravatar.com') == -1" src="{{feedEntry.enclosure.link}}"
         class="img-fluid" alt="">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{feedEntry.title}}</h4>
    <h4 class="card-subtitle">{{feedEntry.author}} - {{feedEntry.pubDate | date:'dd-MM-yyyy'}}</h4>
    <!--Text-->
    <p class="card-text">{{feedEntry.description}}</p>
  </div>

</div>
