/* You can add global styles to this file, and also import other style files */
$primary-color: #FF7520;
.primary-color {
  background-color: $primary-color !important;
}

$theme-colors: (
  primary: $primary-color
);

$material-colors: (
  "primary": $primary-color
);

$dropdown-colors: (
  "primary" : $primary-color
);

.btn-primary {
  background: $primary-color;
}

.dropdown-primary {
  // background: $primary-color;
}

.navbar .dropdown-menu a {
  //color: white !important;
}

.dropdown {
  .dropdown-menu {
    .dropdown-item {
      &:hover,
      &:active,
      &:focus {
        background-color: lighten($primary-color, 10%) !important;

      }
    }
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background: $primary-color;
  border-color: $primary-color;
}

.btn-primary {
  background: $primary-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: lighten($primary-color, 10%) !important;
}

.btn-primary.active {
  background-color: darken($primary-color, 10%) !important;
}

.all-page-header {
  text-transform: uppercase;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  display: block;
  line-height: 1.1;
  margin: 0px 0px 0px 0px;
  background-color: #f6f5f5;
  color: black;
  border-bottom: 2px solid #eae8e8;
  border-top: 2px solid #eae8e8;
  text-align: center;
}

body {
  padding-top: 80px;
  font-size: 1em !important;
  color: #000 !important;
  font-family: 'Exo 2', sans-serif !important;
}
