<hr color="Gainsboro">

<body>
<div class="container-fluid">
  <mdb-carousel animation="slide">
    <!-- Wrapper for slides -->
    <mdb-slide>
      <img src="assets/images/ampasindava/Centrale1.jpg" alt="" style="width:100%;">
      <div class="carousel-caption">
        <h3 class="h3-responsive">Madagascar</h3>
        <p>Majika</p>
      </div>
    </mdb-slide>

    <mdb-slide>
      <img src="assets/images/ampasindava/Centrale2.jpg" alt="" style="width:100%;">
      <h3 class="h3-responsive">Madagascar</h3>
      <p>Majika</p>
    </mdb-slide>

    <mdb-slide>
      <img src="assets/images/ampasindava/Centrale3.jpg" alt="" style="width:100%;">
      <h3 class="h3-responsive">Madagascar</h3>
      <p>Majika</p>
    </mdb-slide>

    <mdb-slide>
      <img src="assets/images/ampasindava/Centrale4.jpg" alt="" style="width:100%;">
      <h3 class="h3-responsive">Madagascar</h3>
      <p>Majika</p>
    </mdb-slide>

    <mdb-slide>
      <img src="assets/images/ampasindava/Centrale5.jpg" alt="" style="width:100%;">
      <h3 class="h3-responsive">Madagascar</h3>
      <p>Majika</p>
    </mdb-slide>
  </mdb-carousel>
</div>

<hr color="Gainsboro">

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="assets/images/logo/activities.jpeg" alt="Nos activités" width="110">
      <h2>Nos activités</h2>
      <p><em><strong>Transition solidaire</strong></em> a besoin de vous !<br><br></p>
    </div>
    <div class="col-sm">
      <img src="assets/images/logo/engage.jpeg" alt="S'engager" width="110">
      <h2>S'engager</h2>
      <p><em><strong>Transition solidaire</strong></em> a besoin de vous !<br><br></p>
    </div>
    <div class="col-sm">
      <img src="assets/images/logo/team.jpeg" alt="Equipe" width="110">
      <h2>Equipe</h2>
      <p><em><strong>Transition solidaire</strong></em> comporte 5 personnes.<br><br></p>
    </div>
  </div>
</div>

</body>

<app-footer></app-footer>


