<hr color="Gainsboro">

<body>

<div class="card bg-dark">
  <img class="card-img" src="assets/images/ampasindava/Centrale1-large.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h3 class="card-title" style="display:inline;"><strong>&nbsp;&nbsp;</strong></h3>
    <img src="assets/images/logo/logo.jpeg" style="width: 5%;">
    <h3 class="card-title" style="display:inline;"><strong>&nbsp;&nbsp;&nbsp;Watt4All</strong></h3>
  </div>
  <div class="card-img-overlay main_div">
    <h2 class="card-title main_title"><strong>LA TRANSITION
      SOLIDAIRE<br/>1 kWh Nord - 1 kWh Sud</strong></h2>
    <h4 class="card-title">Centrale solaire d'Ampasindava - Madagascar</h4>
  </div>
</div>

<hr>

<div class="container-fluid">
  <main>
    <section>
      <h4 align="center" class="small_title">NOTRE ASSOCIATION</h4>
      <br/>
      <br/>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="rcorners_top col-lg-8 col-md-8">
          <h3 class="" style="color:#4B8A65">
            <strong>Nord</strong> : Entreprises, particuliers, vous agissez</h3>
          <div class="row">
            <div class="col-lg-4 col-md-4" style="text-align:center;">
              <i class="fa fa-credit-card fa-3x"></i>
              <h6 class="margin">Don financier</h6>
            </div>
            <div class="col-lg-4 col-md-4" style="text-align:center;">
              <i class="fa fa-truck fa-3x"></i>
              <h6 class="margin">Don de matériel</h6>
            </div>
            <div class="col-lg-4 col-md-4" style="text-align:center;">
              <i class="fa fa-mortar-board fa-3x"></i>
              <h6 class="margin">Mécénat de compétence</h6>
            </div>
            <a class="btn btn-primary" style="margin-top:20px;display: block;margin: 0 auto;" href="/money">
              Vous agissez
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="rcorners_bottom col-lg-8 col-md-8">
          <h3 class="white-text">
            <strong>Sud</strong> : Entreprises, nous vous accompagnons, vous partagez</h3>
          <div class="row">
            <div class="col-lg-3 col-md-3" style="text-align:center;">
              <i class="fa fa-eur fa-3x"></i>
              <h6 class="margin">
                Financement</h6>
            </div>
            <div class="col-lg-3 col-md-3" style="text-align:center;">
              <i class="fa fa-truck fa-3x"></i>
              <h6 class="margin">
                Matériel</h6>
            </div>
            <div class="col-lg-3 col-md-3" style="text-align:center;">
              <i class="fa fa-signing fa-3x"></i>
              <h6 class="margin">
                Retours d'expériences</h6>
            </div>
            <div class="col-lg-3 col-md-3" style="text-align:center;">
              <i class="fa fa-institution fa-3x"></i>
              <h6 class="margin">
                Universités</h6>
            </div>
            <a class="btn btn-primary" style="margin-top:20px;display: block;margin: 0 auto;" href="/contacts">
              Nous vous accompagnons
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </section>
  </main>
</div>

<hr>

<div class="container-fluid">
  <main>
    <section>
      <h4 align="center" class="small_title">NOS PROJETS</h4>
      <br/>
      <br/>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-cascade" style="width: 22rem;">
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
              <img src="assets/images/projects/marosely-carte.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <!--Social shares button-->
              <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
              <!--Title-->
              <h4 class="card-title" style="text-align: center">Village de Marosely</h4>
              <hr>
              <!--Text-->
              <p class="card-text">100 kWC - 500 foyers connectés</p>
              <p class="card-text">500 000 €</p>
              <a href="#" class="d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbRippleRadius>En savoir plus <i class="fa fa-chevron-right"></i></h5>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card card-cascade" style="width: 22rem;">
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
              <img src="assets/images/projects/antongonbato-carte.jpg" class="img-fluid"
                   alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
              <h4 class="card-title" style="text-align: center">Village d'Antogonbato</h4>
              <hr>
              <p class="card-text"></p>
              <a href="#" class="d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbRippleRadius>En savoir plus <i class="fa fa-chevron-right"></i></h5>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<div class="container-fluid">
  <main>
    <section>
      <h4 align="center" class="small_title">NOS PARTENAIRES DU SUD</h4>
      <br/>
      <br/>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-cascade" style="width: 22rem;">
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
              <img src="assets/images/logo/majika-solutions_logo.png" class="img-fluid"
                   style="display: block;margin-left: auto;margin-right: auto;" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <!--Social shares button-->
              <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
              <!--Title-->
              <h4 class="card-title" style="text-align: center">Majika Solutions</h4>
              <hr>
              <a href="http://majikasolutions.org/" class="d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbRippleRadius>En savoir plus <i class="fa fa-chevron-right"></i></h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>

<app-footer></app-footer>


