.rcorners_top {
  border-radius: 15px 15px 0px 0px;
  background: #20FAFF;
  padding: 20px;
}

.rcorners_bottom {
  border-radius: 0px 0px 15px 15px;
  background: #16AFB2;
  padding: 20px;
}

.main_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-collapse: separate;
}

.main_title {
  border-style: hidden;
  padding: 7px 15px 12px 20px;
}

.small_title {
  border-bottom: 8px solid #eae8e8;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: Montserrat;
}

.margin {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  text-align: center;
}

/*1rem = 16px*/
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h2 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h3 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h4 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h5 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h6 {
    font-size: 1.0rem;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 600px) {
  h1 {
    font-size: 2.0rem;
  }
  /*1rem = 16px*/
  h2 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h3 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h4 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h5 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h6 {
    font-size: 1.0rem;
  }
  .main_title {
    border-style: solid;
    padding: 7px 15px 12px 20px;
  }
  /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  /*1rem = 16px*/
  h2 {
    font-size: 2rem;
  }
  /*1rem = 16px*/
  h3 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h4 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h5 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h6 {
    font-size: 1.0rem;
  }
  .main_title {
    border-style: solid;
    padding: 7px 15px 12px 20px;
  }
  /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 3.0rem;
  }
  /*1rem = 16px*/
  h2 {
    font-size: 2.5rem;
  }
  /*1rem = 16px*/
  h3 {
    font-size: 2.0rem;
  }
  /*1rem = 16px*/
  h4 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h5 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h6 {
    font-size: 1.5rem;
  }
  .main_title {
    border-style: solid;
    padding: 7px 15px 12px 20px;
  }
  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  /*1rem = 16px*/
  h2 {
    font-size: 3rem;
  }
  /*1rem = 16px*/
  h3 {
    font-size: 2rem;
  }
  /*1rem = 16px*/
  h4 {
    font-size: 1.5rem;
  }
  /*1rem = 16px*/
  h5 {
    font-size: 1.0rem;
  }
  /*1rem = 16px*/
  h6 {
    font-size: 1.0rem;
  }
  .main_title {
    border-style: solid;
    padding: 7px 15px 12px 20px;
  }
  /*1rem = 16px*/
}


